// Write your overrides
.pac-target-input {
  padding: 6px;
  border: 0.5px solid #625b5b;
  border-radius: 5px;
}
.v-stepper-item .v-avatar{
  width: 32px !important;
  height: 32px !important;
}
.ql-container {
  height: 200px !important; /* Or any desired height */
}
